<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}My site{% endblock %}</title>
   {% block style %}{% endblock %}
</head>
<body>
<div class="gameboy">
  <div class="screen-area">

    <table class="display">
        {% block content %}{% endblock %}
    </table>

    <div class="label">
      <div class="title">Movie</div>
      <div class="subtitle">
        <span class="c">M</span><!--
     --><span class="o1">O</span><!--
     --><span class="l">N</span>
      </div>
    </div>

  </div>

  <div class="credits">sgertrud & mazor</div>

  <div class="controls">
    <div class="dpad">
      <div class="up"><i class="fa fa-caret-up"></i></div>
      <div class="right"><i class="fa fa-caret-right"></i></div>
      <div class="down"><i class="fa fa-caret-down"></i></div>
      <div class="left"><i class="fa fa-caret-left"></i></div>
      <div class="middle"></div>
    </div>
    <div class="a-b">
      <div class="b">B</div>
      <div class="a">A</div>
    </div>
  </div>

  <div class="start-select">
    <div class="select">SELECT</div>
    <div class="start">START</div>
  </div>
</div>
</body>
</html>