{% extends 'mainpage/base.html' %}
{% load static %}
{% block title %}Worldmap{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}
{% block content %}
    <table class="display">
    {% for row in frame %}
        <tr>
        {% for el in row %}
            {% if el == 0 %}
                <td style="background: #78b930"></td>
            {% elif el == -1 %}
                <td style="background: #831f0d"></td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
{% endblock %}